<!DOCTYPE html>
<html>
<head>
  <title>Ragamuffins</title>
  <%= stylesheet_link_tag    "ragamuffins/application", media: "all" %>
  <%= javascript_include_tag "ragamuffins/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
